{% extends 'base.html.twig' %}

{% block title %}Ville{% endblock %}

{% block body %}
    <h1>Ville</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ville.id }}</td>
            </tr>
            <tr>
                <th>Code_ville</th>
                <td>{{ ville.codeVille }}</td>
            </tr>
            <tr>
                <th>Des_ville</th>
                <td>{{ ville.desVille }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ ville.image }}</td>
            </tr>
        </tbody>
    </table>



    {{ include('ville/_delete_form.html.twig') }}
    <a href="{{ path('ville_edit', {'id': ville.id}) }}">edit</a>
    <br>
    <a href="{{ path('ville_index') }}">back to list</a>

{% endblock %}
