{% extends 'base.html.twig' %}

{% block title %}Destination index{% endblock %}

{% block body %}
    <style>
        body{background-color: #dfdfdf}
        table{text-align: center;}

        img{
            height:150px;
            width:100%;
        }

        .item{
            padding-left:5px;
            padding-right:5px;
        }
        .item-card{
            transition:0.5s;
            cursor:pointer;
        }
        .item-card-title{
            font-size:15px;
            transition:1s;
            cursor:pointer;
        }
        .item-card-title i{
            font-size:15px;
            transition:1s;
            cursor:pointer;
            color:#ffa710
        }
        .card-title i:hover{
            transform: scale(1.25) rotate(100deg);
            color:#18d4ca;

        }
        .card:hover{
            transform: scale(1.05);
            box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
        }
        .card-text{
            height:80px;
        }

        .card::before, .card::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform: scale3d(0, 0, 1);
            transition: transform .3s ease-out 0s;
            background: rgba(255, 255, 255, 0.1);
            content: '';
            pointer-events: none;
        }
        .card::before {
            transform-origin: left top;
        }
        .card::after {
            transform-origin: right bottom;
        }
        .card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
            transform: scale3d(1, 1, 1);
        }
    </style>
    <br><br>

    <h2 style="text-align: center">Liste des destinations </h2>
    <br>

    <div class="container mt-2">

        <div class="row">
            {% for destination in destinations %}

            <div class="col-md-3 col-sm-6 item">
                <div class="card item-card card-block">
                    {% if is_granted('ROLE_ADMIN') %}

                    <h6 class="card-title text-right"><a href="{{ path('destination_edit', {'id': destination.id}) }}" >Modifier</a></h6>
                    <h6 class="card-title text-right" >    {{ include('destination/_delete_form.html.twig') }} </h6>
                    {% endif %}

                    <a href="{{ path('destination_show', {'id': destination.id}) }}"> <img src="{{ destination.image }}" > </a>
                    <h3 >{{ destination.desDest }}</h3>
                    <p class="card-text">Votre destination de rêve !</p>
                </div>
            </div>
            {% else %}
                <tr>
                    <h4>Aucune destination!</h4>
            {% endfor %}

        </div>
    </div>


    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('destination_new') }}" class="h5">Ajouter Destination...</a>
    {% endif %}
{% endblock %}
