{% extends 'base.html.twig' %}

{% block title %}Destination{% endblock %}

{% block body %}
    <style>
        body{background-color: #dfdfdf}

        table{text-align: center;}

        img{
            height:150px;
            width:100%;
        }

        .item{
            padding-left:5px;
            padding-right:5px;
        }
        .item-card{
            transition:0.5s;
            cursor:pointer;
        }
        .item-card-title{
            font-size:15px;
            transition:1s;
            cursor:pointer;
        }
        .item-card-title i{
            font-size:15px;
            transition:1s;
            cursor:pointer;
            color:#ffa710
        }
        .card-title i:hover{
            transform: scale(1.25) rotate(100deg);
            color:#18d4ca;

        }
        .card:hover{
            transform: scale(1.05);
            box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
        }
        .card-text{
            height:80px;
        }

        .card::before, .card::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform: scale3d(0, 0, 1);
            transition: transform .3s ease-out 0s;
            background: rgba(255, 255, 255, 0.1);
            content: '';
            pointer-events: none;
        }
        .card::before {
            transform-origin: left top;
        }
        .card::after {
            transform-origin: right bottom;
        }
        .card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
            transform: scale3d(1, 1, 1);
        }
    </style>
    <br>
    <h2 style="text-align: center">Destination</h2>
<br>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-3 col-sm-6 item">
                <div class="card item-card card-block">
                    <img src="{{ destination.image }}" >
                    <h3 >{{ destination.desDest }}</h3>
                </div>
            </div>
        </div>
    </div>

<br>

    <h2 style="text-align: center">Liste des villes de {{ destination.getDesDest() }}</h2>
    <br>

    <div class="container mt-2">

        <div class="row">
            {% for ville in villes %}
            <div class="col-md-3 col-sm-6 item">
                <div class="card item-card card-block">
                    {% if is_granted('ROLE_ADMIN') %}
                    <h6 class="card-title text-right"><a href="{{ path('ville_edit', {'id': ville.id}) }}" >edit</a></h6>
                    <h6 class="card-title text-right"><a href="{{ path('ville_delete', {'id': ville.id}) }}">delete</a> </h6>
                    {% endif %}
                    <img src="{{ ville.image }}" >
                    <h3>{{ ville.getDesVille() }}</h3>
                </div>
            </div>
            {% else %}

                <h4>Aucune ville!</h4>
                {% endfor %}

        </div>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('ville_new') }}" class="h5">Add Ville...</a>
    {% endif %}
    <br><br>
    <a href="{{ path('destination_index') }}" class="btn btn-primary">back to list</a>










{% endblock %}
